body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

 h1{
    text-align: center;
}

 .primer-div,
 .second-div,
 .tercer-div{
display: flex;
justify-content: space-between;


 }



.divuno,
.divdos,
.divtres{
position: relative;
width: 450px;
height: 600px;
border: 1px;
margin: 0 auto;

}

        img{
            text-align:center;

        }

